/* Search Page Styles */
.searchPage {
  background-image: url("../images/dog-tales-img.jpg");
  
}
/* modal message section */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* search box styles */
#response-container {
  max-height: 13rem;
  overflow: auto;
}
.center {
  margin: 0 auto;
  text-align: center;
}
#searchTerm {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 80%;
  height: 35px;
  font-size: 20pt;
}
.opacity-low {
  background-color: rgba(255, 255, 224, 0.8);
  border: solid 1px black;
  
}
/* DogInfo Specific Styles */
#dogs-image {
  position: absolute;
  margin-right: 20px;
  border-left: solid 2px lightgray; 
}
.random-dog {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
  border-radius: 5px;
  margin: 5px;
  height: 40px;
  width: 100%;
  text-align: center;
  font-size: 80%;
}
#dogtext{
margin: 10px;
}
#dogimage{
float: left;
width: 100px;
margin: 10px;
}
#dogtext-container{
   margin-top: 50px; 
  max-height: 20em;
  overflow: auto;  
border: solid gray 1px;
width: fit-content;
}
article {
  display: flex;
}
.thumb{
  height: 100px;
}
.details h4{
font-weight: bold;
}
.details p {
color: grey;
font-size:0.7rem;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}